In [36]:
import time      # for testing use only
import os         # for testing use only

from bs4 import BeautifulSoup as bs
import pandas as pd
import scipy as sc
import numpy as np
import requests
from lxml import html
import csv
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [37]:
def load_csv(file_name):
    df = pd.read_csv(file_name)
    return df

In [38]:
df = load_csv('FixData.csv')
df

,Name,Location,Vegetarian,Gluten,FoodRating,ServiceFood,ValueFood,RankingInArea,Ratings,CuisineCount,NumOfReviews,price,Origin,Type
0,Burger & Lobster,Midtown West,0,0,4.5,4.5,4.5,129,4.5,2,"1,078",2.5,American,Seafood
1,Club A Steakhouse,Flatiron District,0,1,4.5,4.5,4.5,1,4.5,2,"4,158",4.0,American,Steakhouse
2,Au Za'atar,Midtown East,0,0,4.5,4.0,4.0,2,4.5,2,247,2.5,Lebanese,Mediterranean
3,Boucherie Union Square,Downtown Manhattan (Downtown),0,1,4.5,4.5,4.0,3,4.5,2,"1,065",4.0,French,Steakhouse
4,Mei Jin Ramen,Flatiron District,0,0,4.5,4.5,4.5,4,4.5,2,173,2.5,Japanese,Asian
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5909,Quality Meats,Greenwich Village,0,1,4.5,4.5,4.0,471,4.5,2,"2,377",4.0,American,Steakhouse
5910,Il Punto,East Harlem,0,0,4.5,4.5,4.0,45,4.5,2,"1,517",2.5,Italian,Mediterranean
5911,Smith & Wollensky,Morningside Heights,0,1,4.0,4.0,3.5,838,4.0,2,"3,285",4.0,American,Steakhouse
5912,Chocolat Restaurant & Bar,Upper West Side,0,0,4.0,3.5,3.5,"4,053",3.5,2,123,2.5,American,Barbecue
5913,Crab House Seafood All You Can Eat,Gravesend,0,0,5.0,5.0,5.0,"2,894",4.5,2,24,2.5,Seafood,Cajun & Creole

In [142]:
df.columns

Index(['Name', 'Location', 'Vegetarian', 'Gluten', 'FoodRating', 'ServiceFood',
       'ValueFood', 'RankingInArea', 'Ratings', 'CuisineCount', 'NumOfReviews',
       'price', 'Origin', 'Type'],
      dtype='object')

In [132]:
df.iloc[:,4:9].values

array([[4.5, 4.5, 4.5, '129', 4.5],
       [4.5, 4.5, 4.5, '1', 4.5],
       [4.5, 4.0, 4.0, '2', 4.5],
       ...,
       [0.0, 0.0, 0.0, '0', 0.0],
       [0.0, 0.0, 0.0, '0', 0.0],
       [5.0, 5.0, 5.0, '2,894', 4.5]], dtype=object)

In [147]:
dfcolumns= ['FoodRating', 'ServiceFood',
       'ValueFood', 'RankingInArea', 'Ratings', 'CuisineCount', 'NumOfReviews',
       'price']
for col in dfcolumns:
    df[col] = df[col].replace({0: None})

#df['FoodRating'] = df['FoodRating'].replace({0: None})

In [148]:
df

,Name,Location,Vegetarian,Gluten,FoodRating,ServiceFood,ValueFood,RankingInArea,Ratings,CuisineCount,NumOfReviews,price,Origin,Type
0,Burger & Lobster,Midtown West,0,0,4.5,4.5,4.5,129,4.5,2,"1,078",2.5,American,Seafood
1,Club A Steakhouse,Flatiron District,0,1,4.5,4.5,4.5,1,4.5,2,"4,158",4.0,American,Steakhouse
2,Au Za'atar,Midtown East,0,0,4.5,4.0,4.0,2,4.5,2,247,2.5,Lebanese,Mediterranean
3,Boucherie Union Square,Downtown Manhattan (Downtown),0,1,4.5,4.5,4.0,3,4.5,2,"1,065",4.0,French,Steakhouse
4,Mei Jin Ramen,Flatiron District,0,0,4.5,4.5,4.5,4,4.5,2,173,2.5,Japanese,Asian
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12385,Blimpie,Downtown Manhattan (Downtown),0,0,None,None,None,0,None,1,,None,,NaN
12386,Number Chinese Restaurant,Upper Manhattan (Uptown),0,0,None,None,None,0,None,1,,NaN,Chinese,NaN
12387,Great Sichuan,Harlem,0,0,None,None,None,0,None,1,,NaN,,NaN
12388,Sedapsss Fusion Cuisine,Kips Bay,0,0,None,None,None,0,None,2,,NaN,Chinese,Japanese
12389,Crab House Seafood All You Can Eat,Gravesend,0,0,5.0,5.0,5.0,"2,894",4.5,2,24,2.5,Seafood,Cajun & Creole

In [161]:
df.isnull().sum()

Name                4
Location          254
Vegetarian          0
Gluten              0
FoodRating       5437
ServiceFood      5459
ValueFood        5538
RankingInArea       0
Ratings          1145
CuisineCount        0
NumOfReviews        0
price            3739
Origin           2229
Type             5528
dtype: int64

In [159]:
dfcolumns= ['Name', 'Location', 'Origin', 'Type']
for col in dfcolumns:
    df[col] = df[col].replace({" ": None}).replace({"": None}).replace({" ": None})

In [160]:
df.duplicated().sum()

1203

In [207]:
df

,Name,Location,Vegetarian,Gluten,FoodRating,ServiceFood,ValueFood,RankingInArea,Ratings,CuisineCount,NumOfReviews,price,Origin,Type
0,Burger & Lobster,Midtown West,0,0,4.5,4.5,4.5,129,4.5,2,"1,078",2.5,American,Seafood
1,Club A Steakhouse,Flatiron District,0,1,4.5,4.5,4.5,1,4.5,2,"4,158",4.0,American,Steakhouse
2,Au Za'atar,Midtown East,0,0,4.5,4.0,4.0,2,4.5,2,247,2.5,Lebanese,Mediterranean
3,Boucherie Union Square,Downtown Manhattan (Downtown),0,1,4.5,4.5,4.0,3,4.5,2,"1,065",4.0,French,Steakhouse
4,Mei Jin Ramen,Flatiron District,0,0,4.5,4.5,4.5,4,4.5,2,173,2.5,Japanese,Asian
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5909,Quality Meats,Greenwich Village,0,1,4.5,4.5,4.0,471,4.5,2,"2,377",4.0,American,Steakhouse
5910,Il Punto,East Harlem,0,0,4.5,4.5,4.0,45,4.5,2,"1,517",2.5,Italian,Mediterranean
5911,Smith & Wollensky,Morningside Heights,0,1,4.0,4.0,3.5,838,4.0,2,"3,285",4.0,American,Steakhouse
5912,Chocolat Restaurant & Bar,Upper West Side,0,0,4.0,3.5,3.5,"4,053",3.5,2,123,2.5,American,Barbecue
5913,Crab House Seafood All You Can Eat,Gravesend,0,0,5.0,5.0,5.0,"2,894",4.5,2,24,2.5,Seafood,Cajun & Creole

In [175]:
df = df.dropna(axis=0, thresh=13)

In [177]:
df

,Name,Location,Vegetarian,Gluten,FoodRating,ServiceFood,ValueFood,RankingInArea,Ratings,CuisineCount,NumOfReviews,price,Origin,Type
0,Burger & Lobster,Midtown West,0,0,4.5,4.5,4.5,129,4.5,2,"1,078",2.5,American,Seafood
1,Club A Steakhouse,Flatiron District,0,1,4.5,4.5,4.5,1,4.5,2,"4,158",4.0,American,Steakhouse
2,Au Za'atar,Midtown East,0,0,4.5,4.0,4.0,2,4.5,2,247,2.5,Lebanese,Mediterranean
3,Boucherie Union Square,Downtown Manhattan (Downtown),0,1,4.5,4.5,4.0,3,4.5,2,"1,065",4.0,French,Steakhouse
4,Mei Jin Ramen,Flatiron District,0,0,4.5,4.5,4.5,4,4.5,2,173,2.5,Japanese,Asian
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12359,Quality Meats,Upper Manhattan (Uptown),0,1,4.5,4.5,4.0,471,4.5,2,"2,377",4.0,American,Steakhouse
12365,Smith & Wollensky,Morningside Heights,0,1,4.0,4.0,3.5,838,4.0,2,"3,285",4.0,American,Steakhouse
12371,Quality Bistro,Upper East Side,0,0,4.5,5.0,4.0,"2,104",4.5,2,27,2.5,French,Steakhouse
12383,Chocolat Restaurant & Bar,Upper West Side,0,0,4.0,3.5,3.5,"4,053",3.5,2,123,2.5,American,Barbecue
12389,Crab House Seafood All You Can Eat,Gravesend,0,0,5.0,5.0,5.0,"2,894",4.5,2,24,2.5,Seafood,Cajun & Creole

In [208]:
df.duplicated().sum()

0

In [180]:
df = df.drop_duplicates()

In [182]:
df.duplicated().sum()

0

In [183]:
df.describe(include='all')

,Name,Location,Vegetarian,Gluten,FoodRating,ServiceFood,ValueFood,RankingInArea,Ratings,CuisineCount,NumOfReviews,price,Origin,Type
count,5913,5883,5914.000000,5914.000000,5914.0,5914.0,5883.0,5914,5914.0,5914.000000,5914,5882.0,5914,4423
unique,4659,86,NaN,NaN,7.0,7.0,8.0,2674,7.0,NaN,859,3.0,87,92
top,Burger & Lobster,Downtown Manhattan (Downtown),NaN,NaN,4.5,4.5,4.0,7,4.0,NaN,24,2.5,American,Bar
freq,49,1116,NaN,NaN,2835.0,2395.0,2961.0,47,2713.0,NaN,100,4030.0,1609,582
mean,NaN,NaN,0.322962,0.059182,NaN,NaN,NaN,NaN,NaN,1.747886,NaN,NaN,NaN,NaN
std,NaN,NaN,0.467648,0.235984,NaN,NaN,NaN,NaN,NaN,0.434263,NaN,NaN,NaN,NaN
min,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,NaN,NaN,NaN

In [184]:
fileName='data.csv'
df.to_csv(fileName, encoding='utf-8', index=False)

In [209]:
for col in df.columns:
        if np.issubdtype(df[col].dtype, np.floating) or np.issubdtype(df[col].dtype, np.integer):
            Q1 = np.percentile(df[col], 25)
            Q3 = np.percentile(df[col], 75)
            IQR = Q3 - Q1
            IQR_range = 1.5 * IQR
            df[col][(df[col] < Q1 - IQR_range) | (df[col] > Q3 + IQR_range )] = np.nan

<ipython-input-209-c1b003fc9b18>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][(df[col] < Q1 - IQR_range) | (df[col] > Q3 + IQR_range )] = np.nan
<ipython-input-209-c1b003fc9b18>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][(df[col] < Q1 - IQR_range) | (df[col] > Q3 + IQR_range )] = np.nan
<ipython-input-209-c1b003fc9b18>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][(df[col] < Q1 - IQR_range) | (df[col] > Q3 + IQR_range )] = np.nan
<ipython-input-209-c1b003fc9b18>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][(df[col] < Q1 - IQR_range) | (df[col] > Q3 + IQR_range )] = np.nan
<ipython-input-209-c1b003fc9b18>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][(df[col] < Q1 - IQR_range) | (df[col] > Q3 + IQR_range )] = np.nan
<ipython-input-209-c1b003fc9b18>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][(df[col] < Q1 - IQR_range) | (df[col] > Q3 + IQR_range )] = np.nan

In [212]:
df

,Name,Location,Vegetarian,Gluten,FoodRating,ServiceFood,ValueFood,RankingInArea,Ratings,CuisineCount,NumOfReviews,price,Origin,Type
0,Burger & Lobster,Midtown West,0,0,4.5,4.5,4.5,129,4.5,2,"1,078",2.5,American,Seafood
1,Club A Steakhouse,Flatiron District,0,1,4.5,4.5,4.5,1,4.5,2,"4,158",4.0,American,Steakhouse
2,Au Za'atar,Midtown East,0,0,4.5,4.0,4.0,2,4.5,2,247,2.5,Lebanese,Mediterranean
3,Boucherie Union Square,Downtown Manhattan (Downtown),0,1,4.5,4.5,4.0,3,4.5,2,"1,065",4.0,French,Steakhouse
4,Mei Jin Ramen,Flatiron District,0,0,4.5,4.5,4.5,4,4.5,2,173,2.5,Japanese,Asian
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5909,Quality Meats,Greenwich Village,0,1,4.5,4.5,4.0,471,4.5,2,"2,377",4.0,American,Steakhouse
5910,Il Punto,East Harlem,0,0,4.5,4.5,4.0,45,4.5,2,"1,517",2.5,Italian,Mediterranean
5911,Smith & Wollensky,Morningside Heights,0,1,4.0,4.0,3.5,838,4.0,2,"3,285",4.0,American,Steakhouse
5912,Chocolat Restaurant & Bar,Upper West Side,0,0,4.0,3.5,3.5,"4,053",3.5,2,123,2.5,American,Barbecue
5913,Crab House Seafood All You Can Eat,Gravesend,0,0,5.0,5.0,5.0,"2,894",4.5,2,24,2.5,Seafood,Cajun & Creole

In [199]:
import seaborn as sns

In [215]:
df['Type'].value_counts()

 Bar              582
 Asian            409
 Pizza            328
 Mediterranean    317
 Steakhouse       243
                 ...
 Uzbek              1
 Central Asian      1
 Czech              1
 Colombian          1
 Hawaiian           1
Name: Type, Length: 92, dtype: int64

In [216]:
df['Origin'].value_counts()

American        1609
Italian          987
Japanese         378
Bar              265
Chinese          254
                ...
Swedish            1
Scottish           1
Polish             1
Puerto Rican       1
Canadian           1
Name: Origin, Length: 87, dtype: int64

In [217]:
df['Location'].value_counts()

Downtown Manhattan (Downtown)    1116
Midtown                           614
Midtown West                      436
Midtown East                      398
Upper East Side                   363
                                 ...
Flatbush                            1
Bensonhurst                         1
Governors Island                    1
Mount Hope                          1
Sheepshead Bay                      1
Name: Location, Length: 86, dtype: int64

In [5]:
df

,Name,Location,Vegetarian,Gluten,FoodRating,ServiceFood,ValueFood,RankingInArea,Ratings,CuisineCount,NumOfReviews,price,Origin,Type
0,Burger & Lobster,Midtown West,0,0,4.5,4.5,4.5,129,4.5,2,"1,078",2.5,American,Seafood
1,Club A Steakhouse,Flatiron District,0,1,4.5,4.5,4.5,1,4.5,2,"4,158",4.0,American,Steakhouse
2,Au Za'atar,Midtown East,0,0,4.5,4.0,4.0,2,4.5,2,247,2.5,Lebanese,Mediterranean
3,Boucherie Union Square,Downtown Manhattan (Downtown),0,1,4.5,4.5,4.0,3,4.5,2,"1,065",4.0,French,Steakhouse
4,Mei Jin Ramen,Flatiron District,0,0,4.5,4.5,4.5,4,4.5,2,173,2.5,Japanese,Asian
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5909,Quality Meats,Greenwich Village,0,1,4.5,4.5,4.0,471,4.5,2,"2,377",4.0,American,Steakhouse
5910,Il Punto,East Harlem,0,0,4.5,4.5,4.0,45,4.5,2,"1,517",2.5,Italian,Mediterranean
5911,Smith & Wollensky,Morningside Heights,0,1,4.0,4.0,3.5,838,4.0,2,"3,285",4.0,American,Steakhouse
5912,Chocolat Restaurant & Bar,Upper West Side,0,0,4.0,3.5,3.5,"4,053",3.5,2,123,2.5,American,Barbecue
5913,Crab House Seafood All You Can Eat,Gravesend,0,0,5.0,5.0,5.0,"2,894",4.5,2,24,2.5,Seafood,Cajun & Creole

In [97]:
dfl = df["Location"].tolist()

for i,n in enumerate(dfl):
    try:
        dfl[i] = dfl[i].replace(" (Downtown)","")
    except:
        dfl[i] = None
dfl

['Midtown West',
 'Flatiron District',
 'Midtown East',
 'Downtown Manhattan',
 'Flatiron District',
 'Upper East Side',
 'Downtown Manhattan',
 'Chelsea',
 'West Village',
 'Downtown Manhattan',
 'West Village',
 'Midtown East',
 'Midtown',
 'Downtown Manhattan',
 'West Village',
 'Harlem',
 'Upper East Side',
 'Hudson Yards',
 'Midtown West',
 'Murray Hill',
 'Downtown Manhattan',
 'Downtown Manhattan',
 'Murray Hill',
 'Midtown East',
 'Hudson Yards',
 'Midtown West',
 'Murray Hill',
 'Kips Bay',
 'West Village',
 'Downtown Manhattan',
 'Greenwich Village',
 'Downtown Manhattan',
 'Midtown',
 'Upper East Side',
 'Murray Hill',
 'West Village',
 'Midtown',
 'Downtown Manhattan',
 'Midtown',
 'Midtown West',
 'Midtown',
 'Midtown',
 'Upper East Side',
 'Downtown Manhattan',
 'Greenwich Village',
 'West Village',
 'Midtown West',
 'Midtown',
 'Downtown Manhattan',
 'Flatiron District',
 'Midtown',
 'Downtown Manhattan',
 'Midtown West',
 'Nolita',
 'Hudson Yards',
 'Theater District',
 'Flatiron District',
 'Tenderloin',
 'Midtown',
 'Downtown Manhattan',
 'Midtown East',
 'Midtown',
 'Tenderloin',
 'Flatiron District',
 'Chelsea',
 'Kips Bay',
 'West Village',
 'Harlem',
 'Midtown',
 'Downtown Manhattan',
 'Downtown Manhattan',
 'Harlem',
 'Nolita',
 'Downtown Manhattan',
 'Midtown West',
 'Upper West Side',
 'Nolita',
 'Kips Bay',
 'West Village',
 'Upper East Side',
 'Greenwich Village',
 'Upper West Side',
 'Downtown Manhattan',
 'Midtown West',
 'West Village',
 'Harlem',
 'Chelsea',
 'Midtown West',
 'Fort Greene',
 'Midtown',
 'Midtown East',
 'Flatiron District',
 'Downtown Manhattan',
 'Hudson Yards',
 'West Village',
 'Midtown',
 'Downtown Manhattan',
 'Midtown',
 'Downtown Manhattan',
 'Downtown Manhattan',
 'West Village',
 'Murray Hill',
 'Midtown',
 'Tenderloin',
 'Downtown Manhattan',
 'Downtown Manhattan',
 'Midtown East',
 'Midtown',
 'Downtown Manhattan',
 'Midtown',
 'Midtown',
 'Theater District',
 'Midtown',
 'Downtown Manhattan',
 'Downtown Manhattan',
 'West Village',
 'West Village',
 'Flatiron District',
 'Nolita',
 'Midtown East',
 'Midtown',
 'Midtown West',
 'Midtown',
 'Midtown East',
 'Downtown Manhattan',
 'Midtown',
 'Downtown Manhattan',
 'Upper East Side',
 'Hudson Yards',
 'Midtown West',
 'Greenwich Village',
 'West Village',
 'Greenwich Village',
 'Murray Hill',
 'Midtown East',
 'Tenderloin',
 'Midtown',
 'Hudson Yards',
 'Greenwich Village',
 'Greenwich Village',
 'Midtown West',
 'Theater District',
 'Midtown West',
 'Greenwich Village',
 'Greenwich Village',
 'Downtown Manhattan',
 'Theater District',
 'Downtown Manhattan',
 'Midtown',
 'Midtown West',
 'Flatiron District',
 'Tenderloin',
 'Midtown West',
 'NoMad',
 'West Village',
 'Nolita',
 'Downtown Manhattan',
 'Midtown West',
 'Downtown Manhattan',
 'West Village',
 'Downtown Manhattan',
 'Noho',
 'Greenwich Village',
 'Upper West Side',
 'Downtown Manhattan',
 'Downtown Manhattan',
 'Upper West Side',
 'Midtown',
 'Midtown',
 'Gramercy Park',
 'Greenwich Village',
 'Central Park',
 'Midtown',
 'Midtown West',
 'Midtown West',
 'Harlem',
 'Midtown West',
 'Midtown',
 'Theater District',
 'Midtown',
 'Downtown Manhattan',
 'Midtown',
 'Midtown',
 'Downtown Manhattan',
 'Downtown Manhattan',
 'Midtown West',
 'Downtown Manhattan',
 'Downtown Manhattan',
 'Midtown West',
 'Downtown Manhattan',
 'Midtown',
 'Nolita',
 'Williamsburg',
 'Upper West Side',
 'Theater District',
 'Theater District',
 'Midtown',
 'Midtown',
 'Murray Hill',
 'Downtown Manhattan',
 'Downtown Manhattan',
 'West Village',
 'Tenderloin',
 'Gramercy Park',
 'Downtown Manhattan',
 'Midtown West',
 'Gramercy Park',
 'Midtown',
 'Murray Hill',
 'Downtown Manhattan',
 'Downtown Manhattan',
 'Midtown',
 'Theater District',
 'Upper West Side',
 'Gramercy Park',
 'Hudson Yards',
 'Midtown East',
 'Midtown West',
 'Midtown West',
 'Chelsea',
 'Lincoln Square',
 'Manhattan Valley',
 'Midtown West',
 'Murray Hill',
 'Union Square',
 'Downtown Manhattan',
 'Chelsea',
 'Murray Hill',
 'Theater District',
 'West Village',
 'Midtown East',
 'Downtown Manhattan',
 'Greenwich Village',
 'Midtown',
 'Downtown Manhattan',
 'Chelsea',
 'Greenwich Village',
 'Theater District',
 'Downtown Manhattan',
 'Downtown Manhattan',
 'Theater District',
 'Midtown East',
 'Downtown Manhattan',
 'Downtown Manhattan',
 'Downtown Manhattan',
 'West Village',
 'Tenderloin',
 'Midtown',
 'Downtown Manhattan',
 'Lincoln Square',
 'Chelsea',
 'Downtown Manhattan',
 'West Village',
 'Greenwich Village',
 'West Village',
 'Midtown',
 'Midtown West',
 'Gramercy-Flatiron',
 'Theater District',
 'Midtown West',
 'Theater District',
 'Midtown West',
 'Midtown',
 'Upper East Side',
 'Midtown West',
 'Chelsea',
 'Midtown',
 'Downtown Manhattan',
 'Downtown Manhattan',
 'Downtown Manhattan',
 'Gramercy Park',
 'West Village',
 'Midtown',
 'Midtown West',
 'Midtown East',
 'Midtown',
 'Midtown East',
 'Noho',
 'Downtown Manhattan',
 'Upper East Side',
 'Flatiron District',
 'Downtown Manhattan',
 'Theater District',
 'Midtown West',
 'Tenderloin',
 'Downtown Manhattan',
 'Downtown Manhattan',
 'Harlem',
 'Midtown West',
 'Flatiron District',
 'Tenderloin',
 'Midtown',
 'Midtown West',
 'Midtown West',
 'Midtown East',
 'Midtown West',
 'Greenwich Village',
 'Downtown Manhattan',
 'Midtown West',
 'Downtown Manhattan',
 'Downtown Manhattan',
 'Chelsea',
 'Midtown',
 'Downtown Manhattan',
 'Midtown East',
 'Madison Square',
 'Murray Hill',
 'Tenderloin',
 'Upper East Side',
 'Downtown Manhattan',
 'Chinatown',
 'Midtown',
 'Midtown West',
 'Downtown Manhattan',
 'Chinatown',
 'Midtown',
 'Theater District',
 'Midtown',
 'Murray Hill',
 'West Village',
 'Midtown East',
 'Gramercy-Flatiron',
 'Nolita',
 'Upper East Side',
 'Theater District',
 'Murray Hill',
 'Chinatown',
 'Greenwich Village',
 'Downtown Manhattan',
 'Midtown East',
 'Downtown Manhattan',
 'Midtown West',
 'Downtown Manhattan',
 'Midtown East',
 'Nolita',
 'Downtown Manhattan',
 'West Village',
 'Downtown Manhattan',
 'Midtown East',
 'West Village',
 'Downtown Manhattan',
 'Flatiron District',
 'Downtown Manhattan',
 'Williamsburg',
 'Murray Hill',
 'Murray Hill',
 'Midtown West',
 'Upper East Side',
 'Midtown',
 'Flatiron District',
 'Midtown East',
 'Hudson Square',
 'Midtown',
 'Kips Bay',
 'Midtown West',
 'Midtown West',
 'Midtown East',
 'Midtown West',
 'Downtown Manhattan',
 'Downtown Manhattan',
 'Hudson Yards',
 'NoMad',
 'Midtown',
 'Theater District',
 'Midtown',
 'Theater District',
 'Theater District',
 'Greenwich Village',
 'Midtown East',
 'Midtown West',
 'Downtown Manhattan',
 'Nolita',
 'Downtown Manhattan',
 'Downtown Manhattan',
 'Theater District',
 'Kips Bay',
 'Theater District',
 'Downtown Manhattan',
 'Midtown West',
 'Murray Hill',
 'Downtown Manhattan',
 'Flatiron District',
 'Midtown',
 'Williamsburg',
 'Midtown West',
 'Flatiron District',
 'Downtown Manhattan',
 'Upper West Side',
 'Theater District',
 'Harlem',
 'Midtown',
 'Midtown',
 'Tenderloin',
 'Lincoln Square',
 'Kips Bay',
 'Downtown Manhattan',
 'Midtown West',
 'Downtown Manhattan',
 'Theater District',
 'Midtown',
 'Midtown East',
 'Midtown',
 'Midtown East',
 'Downtown Manhattan',
 'Tenderloin',
 'Downtown Manhattan',
 'Midtown',
 'Harlem',
 'Flatiron District',
 'Downtown Manhattan',
 'Downtown Manhattan',
 'Midtown',
 'West Village',
 'Midtown',
 'Midtown',
 'Greenwich Village',
 'Union Square',
 'Greenwich Village',
 'Midtown West',
 'Downtown Manhattan',
 'Midtown',
 'Tenderloin',
 'Theater District',
 'West Village',
 'Midtown',
 'Midtown East',
 'Midtown West',
 'Downtown Manhattan',
 'Midtown',
 'Midtown West',
 'Upper West Side',
 'Midtown',
 'NoMad',
 'Lincoln Square',
 'Chelsea',
 'Murray Hill',
 'Midtown West',
 'Midtown West',
 'Nolita',
 'Greenwich Village',
 'Midtown',
 'Lincoln Square',
 'Midtown',
 'Chelsea',
 'Tenderloin',
 'Midtown West',
 'Midtown West',
 'Midtown',
 'Williamsburg',
 'Downtown Manhattan',
 'Midtown',
 'Upper West Side',
 'Midtown',
 'Downtown Manhattan',
 'Upper East Side',
 'Midtown',
 'Tenderloin',
 'Upper West Side',
 'Upper West Side',
 'Midtown East',
 'Midtown',
 'Tenderloin',
 'Midtown West',
 'Noho',
 'Theater District',
 'Flatiron District',
 'Chelsea',
 'Midtown',
 'Midtown',
 'Midtown East',
 'Flatiron District',
 'Murray Hill',
 'Upper East Side',
 'Tenderloin',
 'Tenderloin',
 'Greenwich Village',
 "Hell's Kitchen",
 'Theater District',
 'Harlem',
 'Midtown West',
 'Midtown West',
 'Hudson Yards',
 'Downtown Manhattan',
 'Downtown Manhattan',
 'West Village',
 'Murray Hill',
 'Theater District',
 'Manhattan Valley',
 'Gramercy Park',
 'Tenderloin',
 'Midtown',
 'Union Square',
 'Tenderloin',
 'Theater District',
 'Downtown Manhattan',
 'Greenwich Village',
 'Tenderloin',
 'Midtown West',
 'Lincoln Square',
 'Theater District',
 'Midtown East',
 'West Village',
 'Murray Hill',
 'Tenderloin',
 'Downtown Manhattan',
 'Tenderloin',
 'Theater District',
 'Tenderloin',
 'Midtown',
 'Theater District',
 'Central Park',
 'Hudson Yards',
 'Midtown East',
 'Midtown East',
 'Theater District',
 'Greenwich Village',
 'Downtown Manhattan',
 'Upper West Side',
 'Greenwich Village',
 'Tenderloin',
 'Midtown West',
 'Theater District',
 'Hudson Square',
 'Kips Bay',
 'Midtown',
 'Downtown Manhattan',
 'Downtown Manhattan',
 'Upper West Side',
 'Theater District',
 'Theater District',
 'Upper East Side',
 'Lincoln Square',
 'Midtown',
 'Downtown Manhattan',
 'West Village',
 'Downtown Manhattan',
 'West Village',
 'Downtown Manhattan',
 'West Village',
 'Murray Hill',
 'Greenwich Village',
 'Chelsea',
 'Murray Hill',
 'Upper West Side',
 'Midtown',
 'Downtown Manhattan',
 'Theater District',
 'Chelsea',
 'Midtown East',
 'Midtown',
 'Theater District',
 'Midtown East',
 'Upper West Side',
 'Midtown',
 'Downtown Manhattan',
 'Midtown',
 'Noho',
 'Upper East Side',
 'Downtown Manhattan',
 'Downtown Manhattan',
 'Midtown',
 'Midtown West',
 'Theater District',
 'Downtown Manhattan',
 'Theater District',
 'Gramercy Park',
 'Theater District',
 'Tenderloin',
 'Greenwich Village',
 'Midtown West',
 'NoMad',
 'Downtown Manhattan',
 'Downtown Manhattan',
 'Downtown Manhattan',
 'Gramercy-Flatiron',
 'Downtown Manhattan',
 'Midtown',
 'Hudson Yards',
 'Midtown',
 'Theater District',
 'Greenwich Village',
 'Tenderloin',
 'West Village',
 'Chelsea',
 'Midtown East',
 'Upper East Side',
 'Upper West Side',
 'Downtown Manhattan',
 'Central Park',
 'Downtown Manhattan',
 'Midtown',
 'Midtown East',
 'Midtown West',
 'Upper East Side',
 'Downtown Manhattan',
 'Downtown Manhattan',
 'Downtown Manhattan',
 'Upper West Side',
 'Murray Hill',
 'Downtown Manhattan',
 'Upper West Side',
 'Downtown Manhattan',
 'Downtown Manhattan',
 'Nolita',
 'Midtown',
 'Midtown',
 'Midtown',
 'Hudson Yards',
 'Midtown West',
 'Chinatown',
 'Harlem',
 'West Village',
 'Flatiron District',
 'Flatiron District',
 'Downtown Manhattan',
 'Midtown West',
 'Downtown Manhattan',
 'Upper West Side',
 'Midtown West',
 'Upper East Side',
 'Midtown',
 'Midtown East',
 'Midtown East',
 'Theater District',
 'Greenwich Village',
 'Downtown Manhattan',
 'Theater District',
 'Midtown West',
 'Upper East Side',
 'Upper East Side',
 'Murray Hill',
 'Theater District',
 'West Village',
 'Greenwich Village',
 'Midtown West',
 'Gramercy Park',
 'Midtown West',
 'Theater District',
 'West Village',
 'Hudson Yards',
 'NoMad',
 'Central Park',
 'Downtown Manhattan',
 'Downtown Manhattan',
 'Downtown Manhattan',
 'Theater District',
 'Noho',
 'Theater District',
 'Harlem',
 'Hudson Yards',
 'Downtown Manhattan',
 'Theater District',
 'Nolita',
 'Murray Hill',
 'Noho',
 'Greenwich Village',
 'Downtown Manhattan',
 'Midtown West',
 'Downtown Manhattan',
 'Downtown Manhattan',
 'Theater District',
 'Chelsea',
 'Theater District',
 'Downtown Manhattan',
 'Midtown East',
 'Downtown Manhattan',
 'Midtown',
 'Midtown',
 'Murray Hill',
 'Midtown',
 'Midtown West',
 'Lincoln Square',
 'Midtown West',
 'Downtown Manhattan',
 'Upper East Side',
 'Theater District',
 'Flatiron District',
 'Midtown East',
 'Theater District',
 'Manhattan Valley',
 'Tenderloin',
 'Midtown West',
 'Downtown Manhattan',
 'Midtown',
 'Upper East Side',
 'Midtown',
 'Midtown',
 'Madison Square',
 'Midtown',
 'Flatiron District',
 'Midtown East',
 'Upper West Side',
 'Downtown Manhattan',
 'Midtown East',
 'Downtown Manhattan',
 'Midtown West',
 'Upper East Side',
 'Murray Hill',
 'Midtown East',
 'Downtown Manhattan',
 'Flatiron District',
 'Midtown West',
 'Hudson Yards',
 'Midtown',
 'Theater District',
 'Theater District',
 'Downtown Manhattan',
 'West Village',
 'Central Park',
 'Chinatown',
 'Downtown Manhattan',
 None,
 'Theater District',
 'Tenderloin',
 'Midtown',
 'Downtown Manhattan',
 'Midtown',
 'Midtown',
 'Downtown Manhattan',
 'Theater District',
 'Hudson Yards',
 'Midtown',
 'Nolita',
 'Greenwich Village',
 'Midtown East',
 'Kips Bay',
 'Downtown Manhattan',
 'Noho',
 'Midtown',
 'Midtown',
 'Upper East Side',
 'Midtown West',
 'Midtown',
 'Upper West Side',
 'Midtown West',
 'Downtown Manhattan',
 'Midtown',
 'Flatiron District',
 'Harlem',
 'Theater District',
 'Tenderloin',
 'Lincoln Square',
 'Tenderloin',
 'Downtown Manhattan',
 'Midtown',
 'Chelsea',
 'Tenderloin',
 'Midtown',
 'West Village',
 'Lincoln Square',
 'Murray Hill',
 'Midtown West',
 'Lincoln Square',
 'West Village',
 'Midtown',
 'Downtown Manhattan',
 'West Village',
 'Theater District',
 'Midtown West',
 'Chinatown',
 'Midtown',
 'Downtown Manhattan',
 'Tenderloin',
 'Midtown East',
 'Midtown West',
 'Upper East Side',
 'Union Square',
 'Downtown Manhattan',
 'Midtown West',
 'Midtown West',
 'Hudson Yards',
 'Upper East Side',
 'Theater District',
 'Downtown Manhattan',
 'Harlem',
 'Midtown East',
 'Tenderloin',
 'Upper East Side',
 'Downtown Manhattan',
 'Theater District',
 'Midtown',
 'Midtown',
 'Tenderloin',
 'Midtown',
 'Midtown West',
 'Midtown East',
 'Harlem',
 'Midtown',
 'Midtown',
 'Murray Hill',
 'Midtown West',
 'Tenderloin',
 'Midtown',
 'Midtown',
 'Upper East Side',
 'Midtown',
 'Downtown Manhattan',
 'Flatiron District',
 'Murray Hill',
 'Midtown West',
 'Tenderloin',
 'Midtown East',
 'Midtown',
 'Harlem',
 'Midtown East',
 'West Village',
 'Midtown',
 'Chinatown',
 'Midtown',
 'Midtown',
 'Nolita',
 'Theater District',
 'Midtown West',
 'Downtown Manhattan',
 'Gramercy Park',
 'Midtown West',
 'Kips Bay',
 'Chinatown',
 'Midtown',
 'Upper West Side',
 'Downtown Manhattan',
 'Downtown Manhattan',
 'Chelsea',
 'Midtown',
 'Midtown East',
 'West Village',
 'Tenderloin',
 'Midtown West',
 'Greenwich Village',
 'Greenwich Village',
 'NoMad',
 'Noho',
 'Lincoln Square',
 'Madison Square',
 'Williamsburg',
 'Murray Hill',
 'Kips Bay',
 'West Village',
 'Midtown',
 'Downtown Manhattan',
 'Flatiron District',
 'Greenwich Village',
 'Downtown Manhattan',
 'Theater District',
 'Midtown',
 'Tenderloin',
 'Greenwich Village',
 'Midtown',
 'Tenderloin',
 'Upper East Side',
 'Downtown Manhattan',
 'Nolita',
 'Midtown West',
 'Theater District',
 'Tenderloin',
 'Tenderloin',
 'Downtown Manhattan',
 'Upper East Side',
 'Chelsea',
 'Tenderloin',
 'Morningside Heights',
 'Nolita',
 'Theater District',
 'Upper West Side',
 'Midtown',
 'Hudson Yards',
 'Midtown East',
 'West Village',
 'Murray Hill',
 'Chelsea',
 'Midtown',
 'Flatiron District',
 'Theater District',
 'West Village',
 'Midtown',
 'Downtown Manhattan',
 'Downtown Manhattan',
 'Midtown',
 'Flatiron District',
 'Theater District',
 'Hudson Yards',
 'Midtown East',
 'Upper West Side',
 'Upper East Side',
 'Midtown',
 'Downtown Manhattan',
 'West Village',
 'Midtown',
 'Midtown',
 'Midtown West',
 'Theater District',
 'Upper East Side',
 'West Village',
 'Midtown',
 'Hudson Yards',
 'Gramercy Park',
 'Midtown East',
 'Midtown East',
 'Midtown',
 'Midtown West',
 'Chelsea',
 'Harlem',
 'Midtown East',
 'Downtown Manhattan',
 'Midtown West',
 'Theater District',
 'Theater District',
 'Downtown Manhattan',
 'Lincoln Square',
 'Downtown Manhattan',
 'Downtown Manhattan',
 'Midtown West',
 'Hudson Yards',
 'Downtown Manhattan',
 'Midtown',
 'Lincoln Square',
 'Midtown West',
 'Midtown West',
 'Midtown',
 'Midtown',
 'Gramercy-Flatiron',
 'Union Square',
 'Chelsea',
 'Tenderloin',
 'Midtown East',
 'Downtown Manhattan',
 'Theater District',
 'Chelsea',
 'Midtown',
 'Hudson Yards',
 'Midtown West',
 'Greenwich Village',
 'Theater District',
 'Chinatown',
 'Kips Bay',
 'Downtown Manhattan',
 'Midtown East',
 'Downtown Manhattan',
 'Midtown',
 'Midtown',
 'Midtown',
 'Theater District',
 'Theater District',
 'Midtown East',
 'Chelsea',
 'Midtown West',
 'Midtown West',
 'Upper West Side',
 'Greenwich Village',
 'West Village',
 'Hudson Yards',
 'Midtown East',
 'Midtown',
 'Midtown',
 'Midtown',
 'Downtown Manhattan',
 'Midtown West',
 'NoMad',
 'West Village',
 'Downtown Manhattan',
 'Hudson Yards',
 'Midtown East',
 'Midtown',
 'Upper East Side',
 'Tenderloin',
 'Midtown East',
 'Hudson Yards',
 'Flatiron District',
 'Murray Hill',
 'Noho',
 'Chinatown',
 'Tenderloin',
 'Central Park',
 'Theater District',
 'Flatiron District',
 'Downtown Manhattan',
 'Theater District',
 'Midtown West',
 'Flatiron District',
 'Midtown East',
 'Hudson Yards',
 'Chelsea',
 'Theater District',
 'Tenderloin',
 'Williamsburg',
 'Hudson Yards',
 'Upper West Side',
 'Downtown Manhattan',
 'Downtown Manhattan',
 'Midtown',
 'Downtown Manhattan',
 'Midtown West',
 'Murray Hill',
 'Midtown',
 'Downtown Manhattan',
 'Midtown West',
 'Tenderloin',
 'Downtown Manhattan',
 'West Village',
 'Midtown',
 ...]

In [98]:
from geopy.geocoders import Nominatim
latitude=[]
longitude=[]
for city in dfl:
    address = city + ', New York'
    geolocator = Nominatim(user_agent="tor_explorer")
    location = geolocator.geocode(address)
    if location:
        print(address)
        latitude.append(location.latitude)
        longitude.append(location.longitude)

Midtown West, New York
Flatiron District, New York
Midtown East, New York
Downtown Manhattan, New York
Flatiron District, New York
Upper East Side, New York
Downtown Manhattan, New York
Chelsea, New York
West Village, New York
Downtown Manhattan, New York
West Village, New York
Midtown East, New York
Midtown, New York
Downtown Manhattan, New York
West Village, New York
Harlem, New York
Upper East Side, New York
Hudson Yards, New York
Midtown West, New York
Murray Hill, New York
Downtown Manhattan, New York
Downtown Manhattan, New York
Murray Hill, New York
Midtown East, New York
Hudson Yards, New York
Midtown West, New York
Murray Hill, New York
Kips Bay, New York
West Village, New York
Downtown Manhattan, New York
Greenwich Village, New York
Downtown Manhattan, New York
Midtown, New York
Upper East Side, New York
Murray Hill, New York
West Village, New York
Midtown, New York
Downtown Manhattan, New York
Midtown, New York
Midtown West, New York
Midtown, New York
Midtown, New York
Upper East Side, New York
Downtown Manhattan, New York
Greenwich Village, New York
West Village, New York
Midtown West, New York
Midtown, New York
Downtown Manhattan, New York
Flatiron District, New York
Midtown, New York
Downtown Manhattan, New York
Midtown West, New York
Nolita, New York
Hudson Yards, New York
Theater District, New York
Flatiron District, New York
Tenderloin, New York
Midtown, New York
Downtown Manhattan, New York
Midtown East, New York
Midtown, New York
Tenderloin, New York
Flatiron District, New York
Chelsea, New York
Kips Bay, New York
West Village, New York
Harlem, New York
Midtown, New York
Downtown Manhattan, New York
Downtown Manhattan, New York
Harlem, New York
Nolita, New York
Downtown Manhattan, New York
Midtown West, New York
Upper West Side, New York
Nolita, New York
Kips Bay, New York
West Village, New York
Upper East Side, New York
Greenwich Village, New York
Upper West Side, New York
Downtown Manhattan, New York
Midtown West, New York
West Village, New York
Harlem, New York
Chelsea, New York
Midtown West, New York
Fort Greene, New York
Midtown, New York
Midtown East, New York
Flatiron District, New York
Downtown Manhattan, New York
Hudson Yards, New York
West Village, New York
Midtown, New York
Downtown Manhattan, New York
Midtown, New York
Downtown Manhattan, New York
Downtown Manhattan, New York
West Village, New York
Murray Hill, New York
Midtown, New York
Tenderloin, New York
Downtown Manhattan, New York
Downtown Manhattan, New York
Midtown East, New York
Midtown, New York
Downtown Manhattan, New York
Midtown, New York
Midtown, New York
Theater District, New York
Midtown, New York
Downtown Manhattan, New York
Downtown Manhattan, New York
West Village, New York
West Village, New York
Flatiron District, New York
Nolita, New York
Midtown East, New York
Midtown, New York
Midtown West, New York
Midtown, New York
Midtown East, New York
Downtown Manhattan, New York
Midtown, New York
Downtown Manhattan, New York
Upper East Side, New York
Hudson Yards, New York
Midtown West, New York
Greenwich Village, New York
West Village, New York
Greenwich Village, New York
Murray Hill, New York
Midtown East, New York
Tenderloin, New York
Midtown, New York
Hudson Yards, New York
Greenwich Village, New York
Greenwich Village, New York
Midtown West, New York
Theater District, New York
Midtown West, New York
Greenwich Village, New York
Greenwich Village, New York
Downtown Manhattan, New York
Theater District, New York
Downtown Manhattan, New York
Midtown, New York
Midtown West, New York
Flatiron District, New York
Tenderloin, New York
Midtown West, New York
NoMad, New York
West Village, New York
Nolita, New York
Downtown Manhattan, New York
Midtown West, New York
Downtown Manhattan, New York
West Village, New York
Downtown Manhattan, New York
Noho, New York
Greenwich Village, New York
Upper West Side, New York
Downtown Manhattan, New York
Downtown Manhattan, New York
Upper West Side, New York
Midtown, New York
Midtown, New York
Gramercy Park, New York
Greenwich Village, New York
Central Park, New York
Midtown, New York
Midtown West, New York
Midtown West, New York
Harlem, New York
Midtown West, New York
Midtown, New York
Theater District, New York
Midtown, New York
Downtown Manhattan, New York
Midtown, New York
Midtown, New York
Downtown Manhattan, New York
Downtown Manhattan, New York
Midtown West, New York
Downtown Manhattan, New York
Downtown Manhattan, New York
Midtown West, New York
Downtown Manhattan, New York
Midtown, New York
Nolita, New York
Williamsburg, New York
Upper West Side, New York
Theater District, New York
Theater District, New York
Midtown, New York
Midtown, New York
Murray Hill, New York
Downtown Manhattan, New York
Downtown Manhattan, New York
West Village, New York
Tenderloin, New York
Gramercy Park, New York
Downtown Manhattan, New York
Midtown West, New York
Gramercy Park, New York
Midtown, New York
Murray Hill, New York
Downtown Manhattan, New York
Downtown Manhattan, New York
Midtown, New York
Theater District, New York
Upper West Side, New York
Gramercy Park, New York
Hudson Yards, New York
Midtown East, New York
Midtown West, New York
Midtown West, New York
Chelsea, New York
Lincoln Square, New York
Manhattan Valley, New York
Midtown West, New York
Murray Hill, New York
Union Square, New York
Downtown Manhattan, New York
Chelsea, New York
Murray Hill, New York
Theater District, New York
West Village, New York
Midtown East, New York
Downtown Manhattan, New York
Greenwich Village, New York
Midtown, New York
Downtown Manhattan, New York
Chelsea, New York
Greenwich Village, New York
Theater District, New York
Downtown Manhattan, New York
Downtown Manhattan, New York
Theater District, New York
Midtown East, New York
Downtown Manhattan, New York
Downtown Manhattan, New York
Downtown Manhattan, New York
West Village, New York
Tenderloin, New York
Midtown, New York
Downtown Manhattan, New York
Lincoln Square, New York
Chelsea, New York
Downtown Manhattan, New York
West Village, New York
Greenwich Village, New York
West Village, New York
Midtown, New York
Midtown West, New York
Gramercy-Flatiron, New York
Theater District, New York
Midtown West, New York
Theater District, New York
Midtown West, New York
Midtown, New York
Upper East Side, New York
Midtown West, New York
Chelsea, New York
Midtown, New York
Downtown Manhattan, New York
Downtown Manhattan, New York
Downtown Manhattan, New York
Gramercy Park, New York
West Village, New York
Midtown, New York
Midtown West, New York
Midtown East, New York
Midtown, New York
Midtown East, New York
Noho, New York
Downtown Manhattan, New York
Upper East Side, New York
Flatiron District, New York
Downtown Manhattan, New York
Theater District, New York
Midtown West, New York
Tenderloin, New York
Downtown Manhattan, New York
Downtown Manhattan, New York
Harlem, New York
Midtown West, New York
Flatiron District, New York
Tenderloin, New York
Midtown, New York
Midtown West, New York
Midtown West, New York
Midtown East, New York
Midtown West, New York
Greenwich Village, New York
Downtown Manhattan, New York
Midtown West, New York
Downtown Manhattan, New York
Downtown Manhattan, New York
Chelsea, New York
Midtown, New York
Downtown Manhattan, New York
Midtown East, New York
Madison Square, New York
Murray Hill, New York
Tenderloin, New York
Upper East Side, New York
Downtown Manhattan, New York
Chinatown, New York
Midtown, New York
Midtown West, New York
Downtown Manhattan, New York
Chinatown, New York
Midtown, New York
Theater District, New York
Midtown, New York
Murray Hill, New York
West Village, New York
Midtown East, New York
Gramercy-Flatiron, New York
Nolita, New York
Upper East Side, New York
Theater District, New York
Murray Hill, New York
Chinatown, New York
Greenwich Village, New York
Downtown Manhattan, New York
Midtown East, New York
Downtown Manhattan, New York
Midtown West, New York
Downtown Manhattan, New York
Midtown East, New York
Nolita, New York
Downtown Manhattan, New York
West Village, New York
Downtown Manhattan, New York
Midtown East, New York
West Village, New York
Downtown Manhattan, New York
Flatiron District, New York
Downtown Manhattan, New York
Williamsburg, New York

Murray Hill, New York
Murray Hill, New York
Midtown West, New York
Upper East Side, New York
Midtown, New York
Flatiron District, New York
Midtown East, New York
Hudson Square, New York
Midtown, New York
Kips Bay, New York
Midtown West, New York
Midtown West, New York
Midtown East, New York
Midtown West, New York
Downtown Manhattan, New York
Downtown Manhattan, New York
Hudson Yards, New York
NoMad, New York
Midtown, New York
Theater District, New York
Midtown, New York
Theater District, New York
Theater District, New York
Greenwich Village, New York
Midtown East, New York
Midtown West, New York
Downtown Manhattan, New York
Nolita, New York
Downtown Manhattan, New York
Downtown Manhattan, New York
Theater District, New York
Kips Bay, New York
Theater District, New York
Downtown Manhattan, New York
Midtown West, New York
Murray Hill, New York
Downtown Manhattan, New York
Flatiron District, New York
Midtown, New York
Williamsburg, New York
Midtown West, New York
Flatiron District, New York
Downtown Manhattan, New York
Upper West Side, New York
Theater District, New York
Harlem, New York
Midtown, New York
Midtown, New York
Tenderloin, New York
Lincoln Square, New York
Kips Bay, New York
Downtown Manhattan, New York
Midtown West, New York
Downtown Manhattan, New York
Theater District, New York
Midtown, New York
Midtown East, New York
Midtown, New York
Midtown East, New York
Downtown Manhattan, New York
Tenderloin, New York
Downtown Manhattan, New York
Midtown, New York
Harlem, New York
Flatiron District, New York
Downtown Manhattan, New York
Downtown Manhattan, New York
Midtown, New York
West Village, New York
Midtown, New York
Midtown, New York
Greenwich Village, New York
Union Square, New York
Greenwich Village, New York
Midtown West, New York
Downtown Manhattan, New York
Midtown, New York
Tenderloin, New York
Theater District, New York
West Village, New York
Midtown, New York
Midtown East, New York
Midtown West, New York
Downtown Manhattan, New York
Midtown, New York
Midtown West, New York
Upper West Side, New York
Midtown, New York
NoMad, New York
Lincoln Square, New York
Chelsea, New York
Murray Hill, New York
Midtown West, New York
Midtown West, New York
Nolita, New York
Greenwich Village, New York
Midtown, New York
Lincoln Square, New York
Midtown, New York
Chelsea, New York
Tenderloin, New York
Midtown West, New York
Midtown West, New York
Midtown, New York
Williamsburg, New York
Downtown Manhattan, New York
Midtown, New York
Upper West Side, New York
Midtown, New York
Downtown Manhattan, New York
Upper East Side, New York
Midtown, New York
Tenderloin, New York
Upper West Side, New York
Upper West Side, New York
Midtown East, New York
Midtown, New York
Tenderloin, New York
Midtown West, New York
Noho, New York
Theater District, New York
Flatiron District, New York
Chelsea, New York
Midtown, New York
Midtown, New York
Midtown East, New York
Flatiron District, New York
Murray Hill, New York
Upper East Side, New York
Tenderloin, New York
Tenderloin, New York
Greenwich Village, New York
Hell's Kitchen, New York
Theater District, New York
Harlem, New York
Midtown West, New York
Midtown West, New York
Hudson Yards, New York
Downtown Manhattan, New York
Downtown Manhattan, New York
West Village, New York
Murray Hill, New York
Theater District, New York
Manhattan Valley, New York
Gramercy Park, New York
Tenderloin, New York
Midtown, New York
Union Square, New York
Tenderloin, New York
Theater District, New York
Downtown Manhattan, New York
Greenwich Village, New York
Tenderloin, New York
Midtown West, New York
Lincoln Square, New York
Theater District, New York
Midtown East, New York
West Village, New York
Murray Hill, New York
Tenderloin, New York
Downtown Manhattan, New York
Tenderloin, New York
Theater District, New York
Tenderloin, New York
Midtown, New York
Theater District, New York
Central Park, New York
Hudson Yards, New York
Midtown East, New York
Midtown East, New York
Theater District, New York
Greenwich Village, New York
Downtown Manhattan, New York
Upper West Side, New York
Greenwich Village, New York
Tenderloin, New York
Midtown West, New York
Theater District, New York
Hudson Square, New York
Kips Bay, New York
Midtown, New York
Downtown Manhattan, New York
Downtown Manhattan, New York
Upper West Side, New York
Theater District, New York
Theater District, New York
Upper East Side, New York
Lincoln Square, New York
Midtown, New York
Downtown Manhattan, New York
West Village, New York
Downtown Manhattan, New York
West Village, New York
Downtown Manhattan, New York
West Village, New York
Murray Hill, New York
Greenwich Village, New York
Chelsea, New York
Murray Hill, New York
Upper West Side, New York
Midtown, New York
Downtown Manhattan, New York
Theater District, New York
Chelsea, New York
Midtown East, New York
Midtown, New York
Theater District, New York
Midtown East, New York
Upper West Side, New York
Midtown, New York
Downtown Manhattan, New York
Midtown, New York
Noho, New York
Upper East Side, New York
Downtown Manhattan, New York
Downtown Manhattan, New York
Midtown, New York
Midtown West, New York
Theater District, New York
Downtown Manhattan, New York
Theater District, New York
Gramercy Park, New York
Theater District, New York
Tenderloin, New York
Greenwich Village, New York
Midtown West, New York
NoMad, New York
Downtown Manhattan, New York
Downtown Manhattan, New York
Downtown Manhattan, New York
Gramercy-Flatiron, New York
Downtown Manhattan, New York
Midtown, New York
Hudson Yards, New York
Midtown, New York
Theater District, New York
Greenwich Village, New York
Tenderloin, New York
West Village, New York
Chelsea, New York
Midtown East, New York
Upper East Side, New York
Upper West Side, New York
Downtown Manhattan, New York
Central Park, New York
Downtown Manhattan, New York
Midtown, New York
Midtown East, New York
Midtown West, New York
Upper East Side, New York
Downtown Manhattan, New York
Downtown Manhattan, New York
Downtown Manhattan, New York
Upper West Side, New York
Murray Hill, New York
Downtown Manhattan, New York
Upper West Side, New York
Downtown Manhattan, New York
Downtown Manhattan, New York
Nolita, New York
Midtown, New York
Midtown, New York
Midtown, New York
Hudson Yards, New York
Midtown West, New York
Chinatown, New York
Harlem, New York
West Village, New York
Flatiron District, New York
Flatiron District, New York
Downtown Manhattan, New York
Midtown West, New York
Downtown Manhattan, New York
Upper West Side, New York
Midtown West, New York
Upper East Side, New York
Midtown, New York
Midtown East, New York
Midtown East, New York
Theater District, New York
Greenwich Village, New York
Downtown Manhattan, New York
Theater District, New York
Midtown West, New York
Upper East Side, New York
Upper East Side, New York
Murray Hill, New York
Theater District, New York
West Village, New York
Greenwich Village, New York
Midtown West, New York
Gramercy Park, New York
Midtown West, New York
Theater District, New York
West Village, New York
Hudson Yards, New York
NoMad, New York
Central Park, New York
Downtown Manhattan, New York
Downtown Manhattan, New York
Downtown Manhattan, New York
Theater District, New York
Noho, New York
Theater District, New York
Harlem, New York
Hudson Yards, New York
Downtown Manhattan, New York
Theater District, New York
Nolita, New York
Murray Hill, New York
Noho, New York
Greenwich Village, New York
Downtown Manhattan, New York
Midtown West, New York
Downtown Manhattan, New York
Downtown Manhattan, New York
Theater District, New York
Chelsea, New York
Theater District, New York
Downtown Manhattan, New York
Midtown East, New York
Downtown Manhattan, New York
Midtown, New York
Midtown, New York
Murray Hill, New York
Midtown, New York
Midtown West, New York
Lincoln Square, New York
Midtown West, New York
Downtown Manhattan, New York
Upper East Side, New York
Theater District, New York
Flatiron District, New York
Midtown East, New York
Theater District, New York
Manhattan Valley, New York
Tenderloin, New York
Midtown West, New York
Downtown Manhattan, New York
Midtown, New York
Upper East Side, New York
Midtown, New York
Midtown, New York
Madison Square, New York
Midtown, New York

Flatiron District, New York
Midtown East, New York
Upper West Side, New York
Downtown Manhattan, New York
Midtown East, New York
Downtown Manhattan, New York
Midtown West, New York
Upper East Side, New York
Murray Hill, New York
Midtown East, New York
Downtown Manhattan, New York
Flatiron District, New York
Midtown West, New York
Hudson Yards, New York
Midtown, New York
Theater District, New York
Theater District, New York
Downtown Manhattan, New York
West Village, New York
Central Park, New York
Chinatown, New York
Downtown Manhattan, New York

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [85]:
longitude

[-73.9923918, -73.9896534, -73.9724708, -74.0139589, -73.9896534]

In [41]:
longitude

[-73.9923918, -73.9896534, -73.9724708, -74.00807244760026, -73.9896534]

In [86]:
latitude

[40.7644228, 40.7410722, 40.7598219, 40.7130418, 40.7410722]

In [42]:
latitude

[40.7644228, 40.7410722, 40.7598219, 40.7012724, 40.7410722]

In [87]:
lo = geolocator.geocode('Downtown Manhattan, New York')

In [88]:
lo

Location(Downtown Hudson Tubes, West Street, Manhattan Community Board 1, Manhattan, New York, 10281, United States, (40.7130418, -74.0139589, 0.0))